h1 {
  text-align: center;
  font-size: 30px;
  line-height: 33px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
  color: white;

}

body {
background-color: #1e00ff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;

}
.style
{
    color : black;
}
 
.style:hover
{
    color : white;
}

a {
  color: #000; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement par défaut */
  transition: color 0.3s; /* Ajoute une transition fluide lors du survol */
  font-family: 'Knewave';
}

/* Styles lors du survol de la souris */
a:hover {
  color: #ff0000; /* Couleur du texte au survol */
}

/* Styles pour les liens visités */
a:visited {
  color: #800080; /* Couleur du texte pour les liens visités */
}

/* Styles pour les liens actifs (lorsqu'ils sont cliqués) */
a:active {
  color: #0000ff; /* Couleur du texte pour les liens actifs */
}
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  #video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  #video {
    width: 80%;
    height: auto;
  }
